/* Search order*/
.slider.slider-horizontal {
    display: block;
    margin-left: 10px;
    width: 97%;
}
.labels-block{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* End Search order*/
/* Channel*/
.channel-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.panel-title .title{
    width:300px;
}
.panel-title .project-counters{
    width: 210px;
}
.modal .modal-title{
    text-align: center;
}
.modal .modal-body{
    text-align: center;
}
.modal .modal-footer{
    display: flex;
    justify-content: center;
}
.ajax-btns-group{
    width: 185px;
}
/* End Channel*/
.bs-callout a{
    margin-bottom: 10px;
    width: 100%;
}
.header-notification{
    text-align: center;
}
.footer-notification{
    display:flex;
}
/* Modal-chanels */
.other-block, .other-date{
    display: none;
}
/* End Modal-chanels */
/* User money pages */
.btn-block-money{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-block-money .w165{
    width: 165px;
    margin-right: 20px;
}
.list-type-withdrawal label{
display: block;
text-align: left;
}
/* End User money pages */